:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --trans-dur: 0.3s;
  font-size: clamp(16px, 0.95rem + 0.25vw, 20px);
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  color: var(--fg);
}

.pl {
  display: block;
  margin: auto;
  width: 12em;
  height: auto;
}

.worm1 {
  animation: worm1-move 1.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.worm2 {
  animation: worm2-move 1.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

@keyframes worm1-move {
  from {
    stroke-dashoffset: -2.355;
  }
  to {
    stroke-dashoffset: 76.185;
  }
}

@keyframes worm2-move {
  from {
    stroke-dashoffset: 16.492;
  }
  to {
    stroke-dashoffset: -62.045;
  }
}
